.trash
.obsidian
.vscode/
# MkDocs build Verzeichnis
site/

# hugo build Verzeichnis
public/
resources/


# Lokale Konfigurationen oder Cache
.cache/
.DS_Store

# Python venvs
venv/
__pycache__/
.venv/