---
services:
  srv:
    build:
      context: .
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    ports:
      - "${PORT:-8000}:8000"
    volumes:
      - ./mkdocs.yml:/docs/mkdocs.yml
      - ./docs:/docs/docs
      - ./macros:/docs/macros
    restart: unless-stopped
    environment:
      - MKDOCS_CONFIG=mkdocs.yml
      - DOCS_DIR=docs
      - SITE_DIR=site
      - TZ=Europe/Berlin
    user: "${UID:-1000}:${GID:-1000}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000" ]
      interval: 30s
      timeout: 10s
      retries: 3
    command: ["hugo", "server", "-p", "8000", "--buildDrafts"]


  # To build the site on demand, use:
  # docker compose run --rm -v "./site:/docs/site" srv mkdocs build
